@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* common css start */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 auto;
}

.active {
    /* background: #F2F2F2; */
    /* border-bottom: 1px solid black; */
    border-color: black;
}

header,
.vocabulary__category,
#tags {
    /* border-color: #f2f2f2; */
    border-color: #0f172a1a;
}

/* 02. header */
#close-menu {
    display: none;
}

.show {
    display: block;
}

#tags li:last-child {
    margin-right: 0px;
}

#vocabulary-category #tags .active,
#speaking-topics #tags .active {
    background: #0f0f0f !important;
    color: #fff !important;
}

/* common css end */

/* hero section start */
.hero__section #tags a div {
    background-color: #f2f3f5;
    background-color: fefefe;
}



/* #vocab-left-arrow::after {
    width: 30px;
} */

/* #vocab-right-arrow {
    width: 100px;
} */

/* hero section end */




/* vocabulary category start */
#vocab-right-arrow::before {
    top: 0;
    right: 20px;
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    border-radius: 4px;
    display: inline-block;
    background: linear-gradient(-90deg, var(--colorAfter), 70%, transparent);
}

#vocab-left-arrow::after {
    top: 0;
    left: 20px;
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    border-radius: 4px;
    display: inline-block;
    background: linear-gradient(90deg, var(--colorBefore), 70%, transparent);
}

.published_data {
    color: #202224
}

/* #vocab-right-arrow {
    top: 50%;
    transform: translate(0, -32%);
    height: 32px;
} */


/* vocabulary category end */


/* blog css start */

/* blog css end */



/* section vocabulary start*/
#vocabulary_slider::-webkit-scrollbar,
#speaking_slider::-webkit-scrollbar,
#tags::-webkit-scrollbar {
    display: none;
}

.grid__template {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-between;
    row-gap: 24px
}

/* section vocabulary end*/

/* speaking section start */
#presentation-contents>p:last-child {
    padding-bottom: 0;
}

/* speaking section end */



/* css media query */
@media (max-width: 400px) {
    #vocabulary {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .grid__template {
        grid-template-columns: repeat(5, min-content);
        row-gap: 30px;
    }
}

@media (min-width: 768px) {
    .grid__template {
        grid-template-columns: repeat(6, min-content);
        row-gap: 40px;
    }
}

@media (min-width: 1024px) {
    .grid__template {
        grid-template-columns: repeat(7, min-content);
        row-gap: 40px;
    }

    .speaking .active {
        /* border-color: white;
        background-color: #f8fafc; */
    }
}

@media (min-width: 1024px) {
    .active {
        /* background-color: var(--active-bg-color); */
        /* border-bottom: none;
        background: #f8fafc */
    }
}